
.projects{
    background-color:rgb(8, 7, 7);
    padding-top: 100px;
}
/* .card-img{
    height: 300px;
    overflow-y: scroll;
} */
.card-img::-webkit-scrollbar {
    display: none;
}

.project-card {
    border: none !important;
    border-radius: none !important;
    position: relative !important;
    overflow: hidden !important;
    
  }
  .card-img {
    max-width: 450px;
    max-height: 450px;
    object-fit: cover;
    
  }
  .project-card .card-body {
    position: absolute;
    bottom: 0;
    /* background-image: linear-gradient(
      to right bottom,
      rgba(203, 148, 0, 0.95),
      rgba(203, 148, 0, 0.65)
    ); */
    /* background-image: linear-gradient(
      to bottom,
      rgba(132, 243, 236, 0.85),
      rgba(119, 223, 216, 0.5)
    ); */
    background-image: linear-gradient(
      to bottom,
    goldenrod,
    goldenrod
    );
    
    color: #fff;
    width: 100%;
    text-align: center;
    transform: translateY(200px);
    transition: all 0.5s Ease;
    opacity: 0;
  }
  .project-card:hover .card-body {
    transform: translateY(0);
    opacity: .8;
   
    
  }