.about{
    background-color:rgb(8, 7, 7);
    padding-top: 100px;
}
.about-container{
    background-color: rgb(27, 27, 29);
}
.about-info{
    height: 20px;
    display: flex;
    align-items: center;
}